<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"] - 通用查询</title>

    <environment include="Development">
        <link href="/lib/weui/weui.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="/lib/weui/weui.min.css" rel="stylesheet" />
    </environment>
    <environment include="Development">
        <link href="/lib/jquery-weui/css/jquery-weui.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="/lib/jquery-weui/css/jquery-weui.min.css" rel="stylesheet" />
    </environment>
    <link href="~/mobile/site.css" rel="stylesheet" />
    @RenderSection("Head", required: false)
</head>
<body>
<div class="container" id="container">
    <div class="page">
        @RenderBody()
    </div>
</div>
<script src='/lib/fastclick/fastclick.js'></script>
<script>
    if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
            FastClick.attach(document.body);
        }, false);
    }
</script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-weui/js/jquery-weui.min.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
