@model K9AbpPlugin.Broadband.User.ChannelWarnDto

@{
    ViewBag.Title = "渠道预警";
}

@section Head { 
    <style>
        .weui-cell__bd .weui-badge {
            margin-left: 20px;
        }

        .weui-cell__bd .desc {
            padding-top: 10px;
            font-size: 0.75em;
        }
    </style>
}

<div class="page__hd">
    <h1 class="page__title"> 渠道离网预警用户 </h1>
    <p class="page__desc">@Model.OrganizationUnitName</p>
</div>
<div class="page__bd">

    <div class="weui-cells">
        @foreach (var user in Model.Users)
        {
            <a class="weui-cell weui-cell_access" href="/broadband/user/detail?id=@user.Id">
                <div class="weui-cell__bd">
                    <p>@user.Phone</p>
                    <p class="desc">@user.SpotProduct</p>
                </div>
                <span class="weui-badge">剩余：@user.Left 天</span>
                <div class="weui-cell__ft">
                </div>
            </a>
        }
    </div>

    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__links">
            <a href="javascript:history.go(-1);" class="weui-footer__link">返回</a>
        </p>
    </div>
</div>
