@model System.Collections.Generic.List<K9AbpPlugin.Broadband.User.WarnDto>

@{
    ViewBag.Title = "离网预警";
}

@section Head { 
    <style>
        .weui-cell__bd .weui-badge {
            margin-left: 20px;
        }

        .weui-cell__bd .desc {
            padding-top: 10px;
            font-size: 0.75em;
        }
    </style>
}

<div class="page__hd">
    <h1 class="page__title"> 片区离网预警用户 </h1>
    <p class="page__desc">各渠道宽带即将到期的用户</p>
</div>
<div class="page__bd" style="padding-bottom: 50px;">

    <div class="weui-cells__title">解放路营业厅</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>13912341243<span class="weui-badge">剩余：30天</span></p>
                <p class="desc">200M家庭套餐</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>

    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__links">
            <a href="javascript:history.go(-1);" class="weui-footer__link">返回</a>
        </p>
    </div>
</div>
